{{! https://megatags.co/ ; meta "name" changed to "property" }}
{{! COMMON TAGS }}
<meta charset="utf-8">
<title>Critical Techworks</title>
{{! Search Engine }}

{{! Schema.org for Google }}

{{! Open Graph general (Facebook, Pinterest & Google+) }}
